// Included in graph iframes.

body {
  margin: 0;
  overflow: hidden;
}

svg.graph {
  background-color: white;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

circle.line {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
  &:hover {
    fill: steelblue;
  }
}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

rect.note {
  fill: #f5f5f5;
  shape-rendering: crispEdges;
  stroke: #eee;
  stroke-width: 1px;
  &:hover {
    fill: #eee;
    stroke: #ddd;
  }
}

text.title {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.label {
  rect {
    fill: #fffbe0;
    shape-rendering: crispEdges;
    stroke: #d2cfb9;
    stroke-width: 1px;
    z-index: 1;
  }
  text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    z-index: 2;
  }
}

.rule {
  line {
    pointer-events: none;
    shape-rendering: crispEdges;
    stroke: #eee;
  }
  text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
}

body.dark {
  svg.graph {
    background-color: #333;
  }
  circle.line {
    fill: #333;
    &:hover {
      fill: steelblue;
    }
  }
  rect.note {
    fill: #383838;
    stroke: #444;
    &:hover {
      fill: #444;
      stroke: #555;
    }
  }
  text {
    fill: #ccc;
  }
  .label rect {
    fill: #444;
    stroke: #555;
  }
  .rule line {
    stroke: #444;
  }
}
