// Included in AMP and non-AMP pages that embed graph iframes.

main .box > .body .graph {
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  iframe {
    color-scheme: normal; // see comment in map.scss
  }
}
