// Included in map iframes.

body {
  // background-image set to placeholder in inline style from render/iframe.go
  background-size: 100% 100%;
  color-scheme: light;
  margin: 0;
  overflow: hidden;
}
body.dark {
  color-scheme: dark;

  // Make map controls not be blindingly white.
  .gm-style-mtc,
  .gm-fullscreen-control,
  .gm-bundled-control {
    filter: brightness(0.7);
  }
}

.loading {
  position: absolute;
}

#map-div {
  display: inline-block;
  height: 100%;
  position: absolute;
  visibility: hidden;
  width: 100%;
  &.loaded {
    visibility: visible;
  }
}

a.location {
  color: #555;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

// Hide annoying close button focus ring that's sometimes automatically shown
// after clicking a marker: https://stackoverflow.com/a/68906199
.gm-style-iw button:focus {
  outline: 0;
}

// MapOptions.controlSize annoyingly doesn't affect the map type (Map vs.
// Satellite) button and dropdown menu, so style them manually to match the
// other controls at size 32.
.gm-style-mtc {
  * {
    font-size: 16px !important; // override 18px
  }
  button {
    padding: 7px 18px 6px 12px !important; // shrink total height to 32px
    img {
      margin-top: 0 !important; // override -2px
    }
  }
}
