// Included in AMP and non-AMP pages that embed map iframes.

// https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
//
// TODO: Switch to aspect-ratio and remove the wrapper div at some point:
// https://gomakethings.com/responsive-iframes-with-the-css-aspect-ratio-property/
// https://caniuse.com/mdn-css_properties_aspect-ratio says that global support
// for aspect-ratio is only at 86.51% as of 20220629.
main .box > .body .mapbox {
  height: 0;
  // Site-specific CSS should set padding-bottom to e.g.
  // calc(0.75 * calc(100% - 10px)), depending on the total horizontal
  // margin set on the mapbox wrapper.
  position: relative;
  iframe {
    border: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
