// Included in AMP and non-AMP pages to declare mobile-specific rules.

.desktop-only {
  display: none;
}

#nav-box {
  > .body {
    overflow: hidden;
  }
}

#nav-toggle-img {
  cursor: pointer;
  &.expand {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}

#nav-list {
  max-height: 8192px; // arbitrary but needs to be large enough to fit contents
  opacity: 1;
  &.collapsed-mobile {
    max-height: 0;
    opacity: 0;
  }
}

.box.content {
  width: 100%;
  > .body {
    figure.mobile-center {
      margin-left: auto; // matches 'center' in base.scss
      margin-right: auto;
    }
  }
}
