.desktop-only { display: none; }

#nav-box {
  > .body { overflow: hidden; }
}

#nav-toggle-img {
  cursor: pointer;
  &.expand {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}

#nav-list {
  max-height: 8192px; // arbitrary but needs to be large enough to fit contents
  opacity: 1.0;
  &.collapsed-mobile {
    max-height: 0;
    opacity: 0;
  }
}
