// Included in non-AMP pages to declare generic rules.

.img-wrapper {
  display: inline-block;
  position: relative; // needed since thumbnail is absolute
  & > svg {
    position: absolute;
  }
  & > picture {
    position: relative;
  }
}
