// Included in non-AMP pages to declare generic rules.

.img-wrapper {
  display: inline-block;
  position: relative; // needed since thumbnail is absolute
  vertical-align: bottom; // https://stackoverflow.com/a/27999850
  & > svg {
    position: absolute;
  }
  & > picture {
    position: relative;
  }
}

// IE 11 (and below?) don't seem to clip blurred SVG thumbnails, so just disable
// thumbnails entirely to prevent them from obscuring the surrounding text.
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .img-wrapper > svg {
    display: none;
  }
}
