{{/* Writes <section> for "box" code block. */}}
{{define "start" -}}
{{if eq .Level 1}}<div{{else}}<section{{end}} class="box
{{- if .Narrow}} desktop-narrow{{end -}}
"
{{- if .ID}} id="{{.ID}}"{{end}}>
  <h{{.Level}} class="title">
    {{- if .MapLabel}}<span class="location-label">{{.MapLabel}}</span> {{end}}
    {{- .Title -}}
    {{- /* For non-AMP, a click handler is added on page load instead. */ -}}
    {{- if .MapLabel}} (<a class="map-link"{{if amp}} href="#map"{{end}}>map</a>){{end}}
  </h{{.Level}}>
  <div class="body">
{{end}}

{{/* Writes </section> for end of box created by "box" code block. */}}
{{define "end" -}}
  </div>
{{if eq .Level 1}}</div>{{else}}</section>{{end}}
{{end}}
