{{/* Writes an image using either the amp-img or nonamp-img template. */}}
{{define "img" -}}
{{if amp}}{{template "amp-img" .}}{{else}}{{template "nonamp-img" .}}{{end -}}
{{end}}

{{/* Writes a <picture> containing the regular and fallback images, possibly wrapped
     in a <span> with a thumbnail placeholder. Setting the background-image property
     on the real <img> would far simpler, but we'd need to use inline 'style'
     attributes to do that, which is forbidden by CSP. Using an <svg> lets us
     just set its image's href attribute and also gives us more control over the blur
     effect than a separate placeholder <img> with the CSS filter property. */}}
{{define "nonamp-img" -}}
{{if .ThumbSrc -}}
<span class="img-wrapper">
<svg width="100%" height="100%" viewBox="0 0 {{.Width}} {{.Height}}">{{/**/ -}}
  {{/* The ID namespace is unfortunately shared across all SVG images on the page,
       so only define it in the first image that uses it. */ -}}
  {{if .DefineThumbFilter -}}
  <filter id="thumb-filter">
    <feGaussianBlur stdDeviation="12"/>
    {{/* Keep edges at full opacity: https://stackoverflow.com/a/24420004/6882947 */ -}}
    <feComponentTransfer><feFuncA type="discrete" tableValues="1 1"/></feComponentTransfer>
  </filter>{{/**/ -}}
  {{end -}}
  <image href="{{.ThumbSrc}}" width="{{.Width}}" height="{{.Height}}" {{/**/ -}}
      filter="url(#thumb-filter)" preserveAspectRatio="none"/>{{/**/ -}}
</svg>
{{end -}}
<picture>{{/**/ -}}
  {{if .FallbackSrc -}}
  <source type="image/webp" sizes="{{.Sizes}}" srcset="{{.Srcset}}">{{/**/ -}}
  {{end -}}
  <img {{if .ID}}id="{{.ID}}" {{end}}{{range .Attr}}{{.}} {{end -}}
      {{if .Classes}}class="{{range .Classes}}{{.}} {{end}}" {{end -}}
      src="{{or .FallbackSrc .Src}}" {{/**/ -}}
      {{if .Sizes}}sizes="{{.Sizes}}" {{end -}}
      {{if .Srcset}}srcset="{{or .FallbackSrcset .Srcset}}" {{end -}}
      width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}">{{/**/ -}}
</picture>{{/**/ -}}
{{if .ThumbSrc}}</span>{{end -}}
{{end}}

{{/* Writes <amp-img></amp-img> and a fallback (and maybe a thumbnail placeholder). */}}
{{define "amp-img" -}}
<amp-img {{if .ID}}id="{{.ID}}" {{end}}{{range .Attr}}{{.}} {{end -}}
    {{if .Classes}}class="{{range .Classes}}{{.}} {{end}}" {{end -}}
    src="{{.Src}}" {{/**/ -}}
    {{if .Sizes}}sizes="{{.Sizes}}" {{end -}}
    {{if .Srcset}}srcset="{{.Srcset}}" {{end -}}
    width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}">{{/**/ -}}
{{if .FallbackSrc -}}
<amp-img fallback {{range .Attr}}{{.}} {{end -}}
    {{if .Classes}}class="{{range .Classes}}{{.}} {{end}}" {{end -}}
    src="{{.FallbackSrc}}" sizes="{{.Sizes}}" srcset="{{.FallbackSrcset}}" {{/**/ -}}
    width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}"></amp-img>{{/**/ -}}
{{end -}}
{{if .ThumbSrc -}}
<amp-img placeholder {{range .Attr}}{{.}} {{end -}}
    class="thumb{{range .Classes}} {{.}}{{end}}" {{/**/ -}}
    src="{{.ThumbSrc}}" width="{{.Width}}" height="{{.Height}}" {{/**/ -}}
    alt="{{.Alt}}"></amp-img>{{/**/ -}}
{{end -}}
</amp-img>{{/**/ -}}
{{end}}
