{{/* Writes <iframe></iframe> for "map" code block. */ -}}
<div class="mapbox">
  {{if amp}}<amp-iframe {{else}}<iframe {{end -}}
  id="map" title="Map" width="{{.Width}}" height="{{.Height}}" {{/**/ -}}
  {{if amp}}layout="responsive" frameborder="0" {{else}}loading="lazy" {{end -}}
  referrerpolicy="unsafe-url" {{/* referrer used by iframe to construct links */ -}}
  sandbox="{{if not amp}}allow-same-origin {{end}}allow-scripts allow-top-navigation" {{/**/ -}}
  src="{{.Href}}">{{/**/ -}}
  {{if amp}}
  {{template "img" .}}
  {{end}}
  {{if amp}}</amp-iframe>{{else}}</iframe>{{end}}
</div>
