{{/* Writes the top of a normal (AMP or non-AMP) page. */}}
{{define "start" -}}
<!DOCTYPE html>
{{/* TODO: Make language configurable. */ -}}
<html {{if amp}}amp {{end}}lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="{{.LinkRel}}" href="{{.LinkHref}}">
    <link rel="alternate" type="application/atom+xml" href="{{.FeedHref}}">
    {{.CSPMeta}}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="{{.Desc}}">
    <meta name="robots" content="NOODP">

    <title>{{.FullTitle}}</title>

    {{range .SiteInfo.LinkTags -}}
    <link rel="{{.Rel}}" href="{{.Href}}"
      {{- if .Sizes}} sizes="{{.Sizes}}"{{end}}
      {{- if .Type}} type="{{.Type}}"{{end}}>
    {{end -}}

    <script type="application/ld+json">{{.StructData}}</script>
    {{if amp}}
      <style amp-boilerplate>{{.AMPStyle}}</style>
      <noscript><style amp-boilerplate>{{.AMPNoscriptStyle}}</style></noscript>
      <style amp-custom>{{.AMPCustomStyle}}</style>
      <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
      {{if or .HasGraph .HasMap -}}
      <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
      {{end -}}
      {{if .SiteInfo.GoogleAnalyticsCode -}}
      <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
      {{end -}}
      <script async src="https://cdn.ampproject.org/v0.js"></script>
    {{else}}{{/* non-AMP */}}
      <style>{{.HTMLStyle}}</style>
      {{range .HTMLScripts}}<script>{{.}}</script>
      {{end -}}
    {{end}}
  </head>

  <body{{if amp}} data-amp-auto-lightbox-disable data-prefers-dark-mode-class="dark"{{end}}>
    {{if amp}}{{template "header_amp" .}}{{else}}{{template "header_html" .}}{{end}}
    <main>
{{end}}

{{/* Writes start-of-<body> data for non-AMP pages. */}}
{{/* For desktop and responsive mobile, the logo and navbox are at the top of the page. */}}
{{define "header_html"}}
<script>{{.HTMLBodyScript}}</script>
<header>
  {{/* On mobile, collapse the navbox if the page isn't the index and doesn't have subpages. */ -}}
  <nav class="sitenav{{if and (not .NavItem.IsIndex) (not .NavItem.VisibleChildren)}} collapsed-mobile{{end}}">
    {{template "img" .LogoHTML}}
    {{/* This mirrors the box_header and box_footer templates. */ -}}
    <div class="box">
      <div class="title">
        {{.SiteInfo.NavText}}
        {{template "img" .NavToggle}}
      </div>
      <div class="body">
        <ul>
          {{range .SiteInfo.NavItems}}{{template "nav_item" .}}{{end}}
        </ul>
      </div>
    </div>
  </nav>
  {{/* Outside <nav> so it can have its own positioning. */ -}}
  {{template "img" .DarkButton}}
</header>
{{end}}

{{/* Writes start-of-<body> data for AMP pages. */}}
{{/* For AMP, just the logo and a menu button go at the top. The navbox ends up in a sidebar. */}}
{{define "header_amp"}}
{{/* The validator barfs if the <amp-analytics> <script> tag doesn't have the "type" attribute. */ -}}
{{if .SiteInfo.GoogleAnalyticsCode -}}
<amp-analytics type="googleanalytics">
  <script type="application/json">
    {
      "vars": {
        "account": "{{.SiteInfo.GoogleAnalyticsCode}}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
{{end -}}

<amp-sidebar id="sidebar" layout="nodisplay" side="right">
  {{/* This mirrors the box_header and box_footer templates. */ -}}
  <nav class="sitenav">
    <div class="box">
      <div class="title">
        {{.SiteInfo.NavText}}
      </div>
      <div class="body">
        <ul>
          {{range .SiteInfo.NavItems}}{{template "nav_item" .}}{{end}}
        </ul>
      </div>
    </div>
  </nav>
</amp-sidebar>

<header>
  {{template "img" .LogoAMP}}
  <div class="spacer"></div>
  {{template "img" .DarkButton}}
  {{template "img" .MenuButton}}
</header>
{{end}}

{{/* Writes the bottom of a normal page. */}}
{{define "end" -}}
    </main>
    {{if or (not .HideBackToTop) (and (not .HideDates) (or .Created .Modified)) -}}
    <footer>
      {{/* TODO: Make text configurable. */ -}}
      {{if not .HideBackToTop}}<div class="back-to-top"><a href="#top">Back to top</a></div>{{end}}
      {{if not .HideDates}}<div class="dates">
        {{if .Created}}<div class="created">Page created in {{/**/ -}}
          <time datetime="{{formatDate .Created "2006"}}">{{formatDate .Created "2006"}}</time>.</div>{{end}}
        {{if .Modified}}<div class="modified">Last modified {{/**/ -}}
          <time datetime="{{formatDate .Modified "2006-01-02"}}">{{formatDate .Modified "Jan 2, 2006"}}</time>.</div>{{end}}
      </div>{{end}}
    </footer>{{/**/ -}}
    {{end}}
    {{if and .SiteInfo.CloudflareAnalyticsToken (not amp)}}<!-- Cloudflare Web Analytics --><script defer src="{{.SiteInfo.CloudflareAnalyticsScriptURL}}" data-cf-beacon="{&quot;token&quot;:&quot;{{.SiteInfo.CloudflareAnalyticsToken}}&quot;}"></script><!-- End Cloudflare Web Analytics -->
    {{end}}
  </body>
</html>
{{end}}

{{/* Writes an <li> for a navigation item and its children. */}}
{{define "nav_item" -}}
<li>
{{- if .HasID current.ID}}<span class="selected">{{.Name}}</span>
{{- else}}<a href="{{if amp}}{{.AMPURL}}{{else}}{{.URL}}{{end}}">{{.Name}}</a>
{{- end}}
{{- if and .VisibleChildren (.FindID current.ID) (not current.OmitFromMenu)}}
<ul>
{{range .VisibleChildren}}{{template "nav_item" .}}{{end}}
</ul>
{{end -}}
</li>
{{end}}
