amp-sidebar {
  background: transparent;
  height: auto;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin: 4px 8px;
  }
  .menu {
    margin-right: 8px;
  }
}

nav .box {
  margin: 10px;
  .body {
    background-color: white;
  }
}

main {
  margin: 0 8px;
}

footer {
  margin: 0 12px;
}
