amp-sidebar {
  background: transparent;
  height: auto;
}

header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin: 4px 8px;
  }
  .spacer {
    flex-grow: 1;
  }
  .dark,
  .menu {
    margin: 10px;
  }
}

.sitenav .box {
  margin: 10px;
  .body {
    background-color: white;
  }
}

main {
  margin: 0 8px;
}

footer {
  margin: 0 12px;
}

body.dark {
  .sitenav .box > .body {
    background-color: #222;
  }
}
