body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

nav .box > .body {
  padding: 4px 2px;
  ul {
    margin: 2px;
    padding-left: 16px;
  }
  .selected {
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
}

.box > {
  .title {
    background-color: #eee;
    border: solid 1px #ddd;
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
  }

  .body {
    border: solid 1px #ddd;
    border-top: none;
    margin-top: 0;
    padding: 8px;

    h2,
    h3 {
      font-size: 1em;
      margin-bottom: 0.2em;
    }

    pre,
    code {
      background-color: #eee;
      font-family: 'Andale Mono', monospace;
      font-size: 12px;
      padding: 2px;
    }
  }
}

main .box {
  margin-bottom: 8px;
}

body.dark {
  background-color: #222;
  color: #ccc;
  header img {
    filter: invert(1) brightness(0.9);
  }
  .box > {
    .title {
      background-color: #333;
      border-color: #555;
      color: #ccc;
    }
    .body {
      border-color: #555;
      pre,
      code {
        background-color: #333;
      }
    }
  }
  a,
  a:visited {
    color: #5ad;
  }
}
